.book_ring{
    width: 40px;
    height: 12.5px;
    border: 2px solid grey;
    border-radius: 20px;
    position: absolute;
    background-color: white;
    left: 370px;
}
.book_ring__first{
    top:180px;
}

.book_ring__second{
    top: 210px;
}
.book_ring__third{
    top:540px;
}

.book_ring__fourth{
    top: 570px;
}