.right_box{
    width: 50%;
    height: 74%;
    position: fixed;
    top: 9.5%;
    left: 25.8%;
    font-family: 'HBIOS-SYS';
}

.right_box__header{
    width: 100%;
    height: 15%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 20px;
}

.right_box__board{
    width: 100%;
    height: 85%;
    background-color: tomato;
}