@import url("CSS/left_box.css");
@import url("CSS/right_box.css");
@import url("CSS/book_rings.css");

@font-face {
  font-family: "HBIOS-SYS";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/HBIOS-SYS.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: black;
  text-decoration: none;
}

.background{
  width: 1920px;
  height: 1080px;
  background-color: #9E9F9F;
}

.background_2{
  width: 1140px;
  height: 660px;
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #ACD2DC;
  border-radius: 10px;
}

.border{
  border: 4px dashed white;
  border-radius: 10px;
  width: 1080px;
  height: 620px;
  position: fixed;
  left: 47px;
  top: 37px
}

.background_3{
  width:1060px;
  height: 600px;
  position: fixed;
  top: 50px;
  left: 60px;
  background-color: #F0F1F1;
  border-radius: 10px;
}
