.right_box__board__todolist{
    width: 60%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow: scroll;
}

.list-index{
    margin-top: 10%;
}

li{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}