.right_box__board__todolist{
    width: 60%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow: scroll;
}

.list-index{
    margin-top: 10%;
}

.list-index > li{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid grey;
}

.list-index > li > button{
    border: none;
    outline: none;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
}

.todo-list_input{
    position: fixed;
}

.todo-list_input > input{
    border: none;
    border-bottom: 1.5px solid black;
    outline: none;
}